<router-outlet>
  <p-dialog header="Join room" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
    <form [formGroup]="formGroup" class="d-flex flex-column">
      <div class="form-group col-auto">
        <label for="roomID">Room ID</label>
        <input type="text" class="form-control" id="roomID" formControlName="roomID">
      </div>
      <div class="mt-4">
        <button type="button" class="btn btn-success btn-clr btn-trs" (click)="joinRoom()">Join</button>
        <button type="button" class="btn btn-danger mx-2 btn-trs" (click)="dialogVisible = false">Cancel</button>
      </div>
    </form>
  </p-dialog>

  <!-- Navbar -->
  <nav class="navbar navbar-dark navbar-expand-lg px-3" style="padding-top:1.5em;">
    <div class="container-fluid">
      
      <!-- Branding -->
      <a class="navbar-brand noto-sans-txt branding" href="/">
        <span>Melodissey</span>
      </a>
    </div>
    <div class="container-fluid">

      <!-- Hamburger Button -->
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <i class="fas fa-bars icon"></i>
      </button>

      <!-- Navbar Content -->
      <div [ngClass]="{'collapse navbar-collapse': true, 'show': isNavbarOpen}" id="navbarNav">
        <div class="d-flex w-100 justify-content-between">
          
          <!-- Left Side Links -->
          <ul class="navbar-nav">
            <li class="nav-item" >
              <a id="previous" class="nav-link noto-sans-txt ft-lg" href="/">
                <i class="fa-regular fa-calendar-days"></i>
                Previous days
              </a>
            </li>
            <li class="nav-item">
              <a id="GOD" class="nav-link noto-sans-txt ft-lg" href="/day/{{lastID}}">
                <i class="fa-regular fa-calendar"></i>
                Current day
              </a>
            </li>
            <li class="nav-item">
              <a id="create" class="nav-link noto-sans-txt ft-lg" href="/createRoom">
                <i class="pi pi-plus-circle"></i>
                Create room
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link noto-sans-txt ft-lg" (click)="toggleJoinRoom()">
                <i class="pi pi-sign-in"></i>
                Join room
              </a>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </nav>
</router-outlet>
