@if(allDays.length >0 && allMovies.length>0){
  <div class="container">

    <div class="row">
      @for(day of allDays; track day.id; let idx = $index){
        <div class="col-xl mb-4">
          <a routerLink="/admin/days/{{day.id}}" [queryParams]="{id:idx}" class="card h-sm-sz">
            <h5 class="card-header">Day #{{day.id}}</h5>
            <div class="card-body">
              <h5 class="card-title">{{allMovies[idx].original_title}}</h5>
            </div>
          </a>
        </div>
      }
    </div>
  </div>

}