<p-dialog header="Comfirm modifications" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <div>
        @for(element of objectKeys(differences); track element){
            <p>{{element}}: {{allBaseData[element]}} ==> {{differences[element]}}</p>
        }
        <button type="button" class="btn btn-success" (click)="onSubmit(true)">Confirm</button>
        <button type="button" class="btn btn-danger mx-2" (click)="visible = false">Cancel</button>
    </div>
</p-dialog>
<!-- bootstrap form-->

<div class="container form-bg">
    <form [formGroup]="editData" (ngSubmit)="onSubmit(false)" class="d-flex flex-column">
        @if(showMessage){
            <p-message severity={{severity}} size="large" [closable]="true" (onClose)="showMessage=false" icon={{primeIcon}} styleClass="mb-2 mt-3">{{message}}</p-message>
        }
        <h1>Day info</h1>
        <hr class="mt-1 mb-4 w-100">
        <div class="form-group row">
            <div class="form-group col-auto">
                <label for="id">Day ID</label>
                <input  type="text" class="form-control" id="id" formControlName="id" >
            </div>
            <div class="form-group col-auto">
                <label for="tmdbid">TMDB ID</label>
                <input type="text" class="form-control" id="tmdbid" formControlName="tmdbid">
            </div>
            <div class="form-group col-auto">
                <label for="ytbid">Youtube ID</label>
                <input type="text" class="form-control" id="ytbid" formControlName="ytbid">
            </div>
            <div class="form-group col-auto">
                <label for="available_date">Available date</label>
                <input type="text" class="form-control" id="available_date" formControlName="available_date">
            </div>
        </div>
        <h1 class="mt-4">Movie info</h1>
        <hr class="mt-1 w-100">
        <div class="form-group row">
            <div class="form-group col-md-6 mb-3">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">
            </div>
            <div class="form-group col-md-6">
                <label for="collection">Collection</label>
                <input type="text" class="form-control" id="collection" formControlName="collection">
            </div>
            <div class="form-group col-md-6 mb-3">
                <label for="media">Media</label>
                <select class="form-control form-control-sm" formControlName="media" id="media">
                    <option>TV</option>
                    <option>Movie</option>
                  </select>
            </div>
        </div>
        <h1>Hints</h1>
        <hr class="mt-1 w-100">
        <div class="form-group mb-3">
            <label for="overview">Overview</label>
            <textarea class="form-control" id="overview" formControlName="overview"></textarea>
        </div>
        <div class="form-group row">
            <div class="form-group col-auto">
                <label for="actor1">First actor</label>
                <input type="text" class="form-control" id="actor1" formControlName="actor1">
            </div>
            <div class="form-group col-auto">
                <label for="actor2">Second actor</label>
                <input type="text" class="form-control" id="actor2" formControlName="actor2">
            </div>
            <div class="form-group col-auto">
                <label for="actor3">Third actor</label>
                <input type="text" class="form-control" id="actor3" formControlName="actor3">
            </div>
            <div class="form-group col-auto">
                <label for="director">Director</label>
                <input type="text" class="form-control" id="director" formControlName="director">
            </div>
        </div> <!-- Close the form-row div here -->
        <button type="submit" class="btn btn-primary btn-lg btn-center mt-4" [disabled]="editData.pristine">Save changes</button>
    </form>
</div>
