/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

html, body {
    min-height: 100%;
    margin:0;
    padding:0;
    
}

body{
    height: 100%; /* Assurez-vous que html et body prennent toute la hauteur de la fenêtre */
    background: linear-gradient(0deg,#000000ec  50%,#020f0fe7  );
    background-repeat: no-repeat;
    background-position:fixed;
    background-size: cover;
}

.noto-sans-txt {
    font-family: "Noto Sans", serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }