
.dark-grey-sq{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  opacity: 0.3;
  height: 80px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  margin: 1px 0.5px; /* Less space between elements inside a row */
  transition: transform 0.3s;
  position: relative;
}

@media (max-width: 992px) {
  .dark-grey-sq{
    height: 60px;
  }
}
.dark-grey-sq:hover{
  background-color: #ACADBC;
  opacity: 1;
  transform: scale(1.1); /* Slightly increase the size */
  transition: transform 0.3s;
}

.dark-grey-sq-fill{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.txt-big{
  font-size: 2.5em;
  font-weight: 500;
  margin: 0; /* Remove margin to center text properly */
  text-shadow: -2px -2px 2px #ffffff, 2px 2px 2px #ffffff,-2px 2px 2px #ffffff, 2px -2px 2px #ffffff, 0px 0px 2px #ffffff, 0px 0px 2px #ffffff;
  
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-auto {
  flex: 0 0 100%; /* Make each element take full width */
  margin-bottom: 10px; /* More space between rows */
}

.txt-wht{
  color:#ffffff;
  word-wrap:break-word;
}

.black-btn{
  background-color: #131313;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.3s;
}

.black-btn:hover{
  background-color: #ACADBC;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s;
}

.black-btn.active{
  background-color: #ACADBC;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.left-button {
  position: absolute;
  left: 0;
}
.right-button {
  position: absolute;
  right: 0;
}

.day-element{
  width:600px;
  text-decoration: none; 
  color: inherit;
}

@media (max-width: 992px) {
  .day-element{
    width: 75%;
  }
}