.bg{
  background-color: hsl(0, 0%, 100%,0.02);
  border-radius: 10px; 
  padding: 10px;
  backdrop-filter: blur(10px);
  max-width: 700px;
}
.dark-grey-sq{
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  opacity: 0.3;
  height: 80px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  margin: 1px 0.5px; /* Less space between elements inside a row */
  transition: transform 0.3s;
  position: relative;
}
.dark-grey-sq:hover{
  background-color: #ACADBC;
  opacity: 1;
  transform: scale(1.1); /* Slightly increase the size */
  transition: transform 0.3s;
}

.dark-grey-sq-fill{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

.txt-big{
  font-size: 1.5em;
  font-weight: 500;
  margin: 0; /* Remove margin to center text properly */
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.col-auto {
  flex: 0 0 100%; /* Make each element take full width */
  margin-bottom: 10px; /* More space between rows */
}


