.txt-wht{
    color:#ffffff;
    word-wrap:break-word;
  }
.txt-bg{
    font-size:x-large;
}
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Orbitron;
    text-shadow: 0 0 2px #8f0823, 0 0 1px #8f0823, 0 0 2px #8f0823, 0 0 4px #ff0000, 0 0 8px #ff0000, 0 0 9px #ff0000, 0 0 1px #ff0000, 0 0 150px #ff0000;
}